.cart-button {
  display: flex;
  justify-content: end;
  max-width: 1200px;
  margin: 30px 40px 10px 0;
}

.empty-basket {
  width: 500px;
}

.empty-basket h4 {
  margin: 60px;
  text-align: center;
}

.cart-item {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item p {
  margin: 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.basket {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket h4 {
  margin-top: 30px
}

.basket h2 {
  margin: 20px 0 30px 0;
}