img {
  height: 200px;
}

.cats-on-sale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.cats-on-sale div {
  margin: 20px;
}

body {
  background-color: #918b8d;
  text-align: center;
  font-family: "Bebas Neue", arial;
}