body {
  background-color: #a7b6c4;
  text-align: center;
  font-family: "Bebas Neue", arial;
}

button {
  background-color: #a7b6c4;
  border: 2px solid #3c2363;
  border-radius: 5px;
  padding: 6px;
  min-width: 80px;
  font-size: 12px;
  transition: .5s;
}

button:hover {
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: .5s;
}

img {
  max-height: 20vh;
  max-width: 20vw;
}